:root {
  /* color */
  --white-color: #f2f2f2;
  --black-color: #140600;
  --grey-dark-color: #3b3a38;
  --grey-light-color: #bebdbd;
  --point-color: #739e3a;

  /* size */
  --padding-small: 6px;
  --padding-medium: 12px;
  --padding-big: 200px;
  --avatar-size: 200px;
  --icon-size: 20px;
  --gallery-size: 350px;

  --avatar-tablet-size: 150px;

  /* font size */
  --font-large: 80px;
  --font-medium: 40px;
  --font-small: 18px;
  --font-micro: 15px;

  --font-tablet-large: 50px;
  --font-tablet-medium: 30px;
  --font-tablet-title: 20px;
  --font-tablet-small: 15px;
  --font-tablet-micro: 12px;

  --font-phone-large: 50px;
  --font-phone-medium: 25px;
  --font-phone-title: 20px;
  --font-phone-small: 13px;
  --font-phone-micro: 10px;

  --avatar-tablet-size: 180px;
  --avatar-phone-size: 100px;

  --gallery-tablet-size: 250px;
  --gallery-phone-size: 150px;
}
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "Gaegu";
}
li {
  list-style: none;
}
a {
  color: var(--black-color);
  text-decoration: none;
}
.title {
  color: var(--white-color);
  font-size: var(--font-medium);
}
.intro,
.portfolio,
.contact {
  padding: var(--padding-medium);
  background: url("./img/background2.jpeg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  /* min-height: 100vh; */
  position: relative;
}

/* landing page */
.landing {
  height: 100vh;
  background: url("./img/background1.jpeg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
.landing .menu {
  display: inline-flex;
  padding: var(--padding-medium);
  font-size: var(--font-small);
}
.landing .menu li {
  padding: var(--padding-small);
}
.landing .lang {
  display: inline-flex;
  float: right;
  padding: var(--padding-medium);
  font-size: var(--font-small);
}
.landing .lang li {
  padding: var(--padding-small);
}
.landing .name {
  text-align: center;
  padding-top: var(--padding-big);
  padding-bottom: var(--padding-big);
  font-size: var(--font-large);
}

/* introduction page */
.intro .title {
  color: var(--black-color);
}
.intro .body img {
  width: var(--avatar-size);
  height: relative;
  border-radius: 3%;
}
.intro .body .introImg {
  display: inline;
}
.intro .body .info {
  color: var(--grey-dark-color);
  font-size: var(--font-small);
  vertical-align: top;
}

/* portfolio page */
.portfolio .title {
  color: var(--black-color);
}
.portfolio .body img {
  width: var(--gallery-size);
  height: var(--gallery-size);
  padding-right: var(--padding-medium);
  justify-content: center;
  border-radius: 5%;
  filter: grayscale(70%);
  transition: filter 500ms ease;
  cursor: pointer;
}
.portfolio .body img:hover {
  filter: grayscale(0);
}
/* porfolio wrapper */
.wrapper {
  max-width: 1100px;
}
.wrapper nav {
  display: flex;
  padding-bottom: var(--padding-medium);
}
.wrapper nav .items {
  display: flex;
  justify-content: center;
  max-width: 390px;
  width: 100%;
  justify-content: space-between;
}
.wrapper nav .items .item {
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  color: var(--point-color);
  border: 2px solid var(--point-color);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.wrapper nav .items .item:hover {
  color: white;
  background: var(--point-color);
}

/* contact page */
.contact .title {
  color: var(--black-color);
}
.contact .body {
  color: var(--grey-dark-color);
  font-size: var(--icon-size);
}

@media screen and (max-width: 1024px) {
  * {
    color: var(--white-color);
    font-weight: bold;
  }
  .intro,
  .portfolio,
  .contact {
    padding: var(--padding-medium);
    background: url("./img/background2mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    /* min-height: 100vh; */
    position: relative;
  }
  .landing {
    height: 100vh;
    background: url("./img/background2mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
  }
  .intro .title, .portfolio .title, .contact .title, .intro .body .info {
    color: var(--white-color);
    font-weight: bold;
  }

@media screen and (max-width: 768px) {
  * {
    color: var(--white-color);
    font-weight: bold;
  }
  .intro,
  .portfolio,
  .contact {
    padding: var(--padding-medium);
    background: url("./img/background2mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    /* min-height: 100vh; */
    position: relative;
  }
  .landing {
    height: 100vh;
    background: url("./img/background2mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
  }
  .title {
    font-size: var(--font-tablet-medium);
  }
  .landing .menu {
    font-size: var(--font-tablet-small);
  }
  .landing .lang {
    font-size: var(--font-tablet-small);
  }
  .landing .name {
    font-size: var(--font-tablet-large);
  }
  .intro .body .info {
    font-size: var(--font-tablet-small);
  }
  .intro .body img {
    width: var(--avatar-tablet-size);
    height: relative;
  }
  .portfolio .body img {
    width: var(--gallery-tablet-size);
    height: var(--gallery-tablet-size);
  }
  .intro .title, .portfolio .title, .contact .title, .intro .body .info {
    color: var(--white-color);
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  * {
    color: var(--white-color);
    font-weight: bold;
  }
  .title {
    font-size: var(--font-phone-medium);
  }

  .intro,
  .portfolio,
  .contact {
    padding: var(--padding-medium);
    background: url("./img/background2mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    /* min-height: 100vh; */
    position: relative;
  }

  .landing {
    height: 100vh;
    background: url("./img/background2mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
  }
  .landing .menu {
    font-size: var(--font-phone-small);
  }
  .landing .lang {
    font-size: var(--font-phone-small);
  }
  .landing .name {
    font-size: var(--font-phone-large);
  }
  .intro .body .info {
    font-size: var(--font-phone-small);
  }
  .intro .body img {
    width: var(--avatar-phone-size);
    height: relative;
  }
  .portfolio .body img {
    width: var(--gallery-phone-size);
    height: var(--gallery-phone-size);
  }
  .intro .title, .portfolio .title, .contact .title, .intro .body .info {
    color: var(--white-color);
    font-weight: bold;
  }
}