:root {
  /* color */
  --white-color: #f2f2f2;
  --black-color: #140600;
  --grey-dark-color: #3b3a38;
  --grey-light-color: #bebdbd;
  --point-color: #739e3a;
  --point-color2: #b1bbce;
  --gallery-background-color: #fafafa;

  /* size */
  --padding-small: 6px;
  --padding-medium: 12px;
  --padding-big: 200px;
  --avatar-size: 200px;
  --icon-size: 20px;
  --gallery-size: 350px;

  /* font size */
  --font-large: 80px;
  --font-medium: 40px;
  --font-title: 30px;
  --font-small: 18px;
  --font-micro: 15px;

  --font-tablet-large: 60px;
  --font-tablet-medium: 30px;
  --font-tablet-title: 25px;
  --font-tablet-small: 16px;
  --font-tablet-micro: 10px;

  --font-phone-large: 50px;
  --font-phone-medium: 25px;
  --font-phone-title: 20px;
  --font-phone-small: 13px;
  --font-phone-micro: 10px;
}
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "Gaegu";
}
li {
  list-style: none;
}
a {
  color: var(--black-color);
  text-decoration: none;
}

/* home nav */
.home {
  padding: var(--padding-medium);
  font-size: var(--font-small);
  /* float: right; */
  background-color: var(--point-color2);
}

.descrip,
.body {
  background-color: var(--gallery-background-color);
}

/* description */
.descrip {
  padding: var(--padding-medium);
}
.descrip .title {
  font-size: var(--font-title);
}
.descrip .detail {
  font-size: var(--font-small);
}

/* images */
.body img {
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: var(--padding-small);
}

@media screen and (max-width: 768px) {
  .home {
    font-size: var(--font-tablet-small);
  }
  .descrip .title {
    font-size: var(--font-tablet-title);
  }
  .descrip .detail {
    font-size: var(--font-tablet-small);
  }
}

@media screen and (max-width: 480px) {
  .home {
    font-size: var(--font-phone-small);
  }
  .descrip .title {
    font-size: var(--font-phone-title);
  }
  .descrip .detail {
    font-size: var(--font-phone-small);
  }
}
